body {
  background-image: linear-gradient(#615dad, #ffc8da);
  margin: 0;
  min-height: 100vh;
  padding: 0;
  font-family: 'Lobster', cursive;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.picture {
  width: 100%;
}

.kontejner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 25%;
  margin: 0 auto;
  color: #ffffff;
}

.obrazek {
  width: 100%;
}

.piskvorky {
  background-color: #283e50;
  text-align: center;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}
.rules > a {
  display: block;
  background-color: #1fcca4;
  flex-basis: 33.33%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.play > a {
  display: block;
  background-color: #0197f6;
  flex-basis: 33.33%;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.rules {
  background-color: #1fcca4;
  border-style: none;
}

.play {
  background-color: #0197f6;
  border-style: none;
}

.rules > a:hover,
.rules > a:focus {
  background-color: #1cbb96;
}

.play > a:hover,
.play > a:focus {
  background-color: #0090e9;
}

a {
  color: #ffffff;
  font-weight: bold;
  text-decoration-line: none;
}

.tabulka {
  display: flex;
  flex-direction: column;
  background-color: #283e50;
  width: 50%;
  color: white;
  position: relative;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

h1 {
  text-align: center;
}

p {
  margin-left: 30px;
  margin-right: 30px;
  text-align: justify;
}

/*div {
  margin-left: 30px;
  margin-right: 30px;
}*/

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}
figcaption {
  text-align: justify;
  padding-top: 10px;
}

img {
  width: 100%;
}

.circle,
.cross {
  width: 1em;
  height: 1em;
  filter: invert(80%);
  margin-top: 3px;
}

@media screen and (min-width: 630px) {
  .postup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .foto {
    flex-basis: calc(50% - 30px - 30px);
  }
}

/* STRANA HRA */

.hraci-pole {
  max-width: 80vmin;
  display: flex;
    margin: 0;
    flex-wrap: wrap;
    background-image: linear-gradient(#615dad, #ffc8da)
}


.domov {
  background-color: #1fcca4;
}

.return {
  background-color: #0197f6;
  margin-left: 8px;
}

.domov,
.return {
  padding: 5px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.btn {
  height: 7vmin;
  width: 8vmin;
  margin: 0px;
  padding: 0px;
  border-color: gray;
  border-width: 1px;
}

.btn:hover {
  background-color: whitesmoke;
}

.komplet-pole {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horni-lista {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 27.667px;
  color: #ffffff;
  margin-bottom: 20px;
  width: 250px;
  height: 25px;
}

h1 {
  color: #ffffff;
}

.levo {
  display: flex;
  flex-direction: row;
  height: 27.667px;
}

.hraje {
  margin-right: 6px;
}

.pravo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 27.667px;
}

.kolecko {
  filter: invert(80%);
}

.board__field--circle {
  background-image: url('circle.svg');
  background-repeat: no-repeat;
  background-position: center;

}

.board__field--cross {
  background-image: url('cross.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.radek {
  margin-bottom: 30px;
};

